/*------------------------------------*/
/* #COLORS */
/*------------------------------------*/

body {
  background-color: hsl(
    var(--honey),
    100%,
    99%
  ); /* from the sierra lighting site */
}

.error {
  color: var(--error);
}
