/*------------------------------------*/
/* #COLORS */
/*------------------------------------*/

body {
  background: var(--honey-50);
  color: var(--denim-700);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-750);
    color: var(--brilliance);
  }
}

.error {
  color: var(--error);
}
