/*------------------*/
/* LISTS */
/*------------------*/

/* I had this for something so there might be a break
  but having it is too much for blocks renderer lists */
/* ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding-inline-start: 0;
} */

/*------------------*/
/* AREAS LIST */
/*------------------*/

.areas-list {
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 0.75rem;

  li {
    margin-block-end: 0.75rem;
  }
}
