---
import Logo from "../assets/sierra-lighting-logo.svg";
import Slug from "./slug";
---

<footer>
  <hr class="pelican" />

  <Slug client:load />

  <div class="footer-copyright">
    <a href="/">
      <Logo />
    </a>
  </div>
</footer>
