---
/* function Slug() {
  // TODO: make this pretty

  const [slug, setSlug] = useState('');

  function slugger(e: React.ChangeEvent<HTMLInputElement>) {
    setSlug(e.target.value);
    return null;
  }

  return (
    <div className="slug">
      <form>

        <label htmlFor="slug">Slug&nbsp;</label>
        <input type="text" id="slug" name="slug" onChange={slugger} />

        <Link
          to={`/p/${slug}`}
          className="button"
        >p/{slug}</Link>
      </form>
    </div>
  );
} */

import Logo from "../assets/sierra-lighting-logo.svg";
import Slug from "./slug";
---

<footer>
  <hr class="pelican" />

  <!-- TODO: this may need import react Ive done this somewhere before -->
  <Slug client:load />

  <!-- <hr class="pelican" /> -->

  <div class="footer-copyright">
    <a href="/">
      <Logo />
    </a>
  </div>
</footer>
