---
import Logo from "../assets/sierra-lighting-logo.svg";
---

<header>
  <a href="/" class="site-logo">
    <Logo />
  </a>

  <nav>
    <ul>
      <li><a href="/guides" class="button">Guides</a></li>
      <li><a href="/search9" class="button">Search</a></li>
    </ul>
  </nav>

  <hr />
</header>
