<header>
  <a href="/" class="site-logo">
    <!-- <Logo /> -->
    <!-- TODO: images in a second lets get things running first -->
  </a>

  <nav>
    <ul>
      <li><a href="/guides" class="button">Guides</a></li>
      <li><a href="/search9" class="button">Search</a></li>
    </ul>
  </nav>

  <hr />
</header>
